config FINGERPRINT_GOODIX_FOD
	tristate "Goodix (FOD) fingerprint support"
	depends on INPUT_FINGERPRINT
	help
	  Say Y here to enable support for a goodix fingerprint sensor.

	  If unsure, say Y.

	  To compile this driver as a module, choose M here.
