config FINGERPRINT_FPC1020
    tristate "FPC 1020 fingerprint support"
    depends on INPUT_FINGERPRINT
    help
      say Y here to enable support for FPC fingerprint sensor.
      
      If unsure, say Y.
      
      To compile this driver as a module, choose M here.
